$icomoon-font-family: "alexis" !default;
$icomoon-font-path: "../fonts" !default;

$icon-award-company: "\e900";
$icon-bussines-growth: "\e901";
$icon-facebook: "\e902";
$icon-focus-app: "\e903";
$icon-focus-foto: "\e904";
$icon-focus-web-design: "\e905";
$icon-focus-web-ux: "\e906";
$icon-footer-facebook: "\e907";
$icon-footer-google: "\e908";
$icon-footer-instagram: "\e909";
$icon-footer-twitter: "\e90a";
$icon-header-check: "\e90b";
$icon-header-dollar: "\e90c";
$icon-header-time: "\e90d";
$icon-instagram: "\e90e";
$icon-linkidin: "\e90f";
$icon-portfolio-plus: "\e910";
$icon-smart-experience: "\e911";
$icon-stat-box: "\e912";
$icon-stat-client: "\e913";
$icon-stat-graff: "\e914";
$icon-stat-head: "\e915";
$icon-stat-punkt: "\e916";
$icon-stict-dedline: "\e917";
$icon-team-share: "\e918";
$icon-twitter: "\e919";
$icon-ultimate-perfection: "\e91a";
$icon-ultimate-revision: "\e91b";
$icon-video-play: "\e91c";



@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ngi2xc');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ngi2xc#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ngi2xc') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ngi2xc') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ngi2xc##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-award-company {
  &:before {
    content: $icon-award-company; 
  }
}
.icon-bussines-growth {
  &:before {
    content: $icon-bussines-growth; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-focus-app {
  &:before {
    content: $icon-focus-app; 
  }
}
.icon-focus-foto {
  &:before {
    content: $icon-focus-foto; 
  }
}
.icon-focus-web-design {
  &:before {
    content: $icon-focus-web-design; 
  }
}
.icon-focus-web-ux {
  &:before {
    content: $icon-focus-web-ux; 
  }
}
.icon-footer-facebook {
  &:before {
    content: $icon-footer-facebook; 
  }
}
.icon-footer-google {
  &:before {
    content: $icon-footer-google; 
  }
}
.icon-footer-instagram {
  &:before {
    content: $icon-footer-instagram; 
  }
}
.icon-footer-twitter {
  &:before {
    content: $icon-footer-twitter; 
  }
}
.icon-header-check {
  &:before {
    content: $icon-header-check; 
  }
}
.icon-header-dollar {
  &:before {
    content: $icon-header-dollar; 
  }
}
.icon-header-time {
  &:before {
    content: $icon-header-time; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-linkidin {
  &:before {
    content: $icon-linkidin; 
  }
}
.icon-portfolio-plus {
  &:before {
    content: $icon-portfolio-plus; 
  }
}
.icon-smart-experience {
  &:before {
    content: $icon-smart-experience; 
  }
}
.icon-stat-box {
  &:before {
    content: $icon-stat-box; 
  }
}
.icon-stat-client {
  &:before {
    content: $icon-stat-client; 
  }
}
.icon-stat-graff {
  &:before {
    content: $icon-stat-graff; 
  }
}
.icon-stat-head {
  &:before {
    content: $icon-stat-head; 
  }
}
.icon-stat-punkt {
  &:before {
    content: $icon-stat-punkt; 
  }
}
.icon-stict-dedline {
  &:before {
    content: $icon-stict-dedline; 
  }
}
.icon-team-share {
  &:before {
    content: $icon-team-share; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-ultimate-perfection {
  &:before {
    content: $icon-ultimate-perfection; 
  }
}
.icon-ultimate-revision {
  &:before {
    content: $icon-ultimate-revision; 
  }
}
.icon-video-play {
  &:before {
    content: $icon-video-play; 
  }
}

