/* Block Uor-focus
-------------------------------------------------------------------------------*/
.uorFocus {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 150px; }

.services {
  font-size: 0;
  letter-spacing: -1px;
  margin-left: -30px; }
  .services__wrapp {
    font-size: initial;
    letter-spacing: initial;
    display: inline-block;
    width: 25%;
    padding-left: 30px; }
    @media (min-width: 320px) {
      .services__wrapp {
        width: 100%; } }
    @media (min-width: 370px) {
      .services__wrapp {
        width: 100%; } }
    @media (min-width: 767px) {
      .services__wrapp {
        width: 50%; } }
    @media (min-width: 1080px) {
      .services__wrapp {
        width: 25%; } }
  .services__item {
    display: inline-block;
    padding: 59px 31px 59px 32px;
    background: #ffffff; }

.icon-focus-web-design {
  font-size: 52px;
  color: #fc5f45; }

.icon-focus-web-ui {
  font-size: 52px;
  color: #38c695; }

.icon-focus-foto {
  font-size: 52px;
  color: #b27cf5; }

.icon-focus-app {
  font-size: 50px;
  color: #feb960; }

.redLine {
  border-bottom: 3px solid #fc5f45; }

.greenLine {
  border-bottom: 3px solid #38c695; }

.violetLine {
  border-bottom: 3px solid #b27cf5; }

.orangeLine {
  margin-right: 0px;
  border-bottom: 3px solid #feb960; }

/*end block uorfocus*/
