/* Block About
-------------------------------------------------------------------------------*/
.about {
  padding-top: 149px;
  padding-bottom: 151px;

  .container_center {
    display: flex;
  }
}
.about-us {
  align-self: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-left: -65px;
  padding: 94px 83px 106px 81px;
  max-width: 652px;
  max-height: 550px;
  border-bottom-style: solid;
  border-image-width: 15px;
  border-image: url(../img/line.png);
  border-image-slice: 5;
}

/*end block about*/
