/* Block Header
-------------------------------------------------------------------------------*/
.header__top {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    padding: 24px 0;
}

.header-top__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
        margin: 0 auto;
    }
}

/*Block features*/

.features {
    background-color: rgba(38, 39, 50, 0.85);
    text-align: center;
    padding-top: 239px;
    padding-bottom: 173px;

    &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 743px;
        margin: 0 auto;
    }

    &__item:nth-child(2) {
        padding-left: 40px;
    }

    &__text {
        margin-top: 38px;

        &_color-red {
            color: #38c695;
            text-transform: uppercase;
            font-size: 18px;
            font-family: Poppins;
            font-weight: 500;
        }

        &_color-violet {
            color: #b27cf5;
            text-transform: uppercase;
            font-size: 18px;
            font-family: Poppins;
            font-weight: 500;
        }

        &_color-orange {
            color: #feb960;
            text-transform: uppercase;
            font-size: 18px;
            font-family: Poppins;
            font-weight: 500;
        }
    }
}

.icon-header-dollar {
    display: inline-block;
    color: #38c695;
    font-size: 40px;
    margin-bottom: 34px;
}

.icon-header-time {
    display: inline-block;
    color: #b27cf5;
    font-size: 40px;
    margin-bottom: 34px;
}

.icon-header-check {
    display: inline-block;
    color: #feb960;
    font-size: 40px;
    margin-bottom: 34px;
}
