/* Block Header
-------------------------------------------------------------------------------*/
.header__top {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  padding: 24px 0 3px;
}
.logo {
  float: left;
  
}
.navbar {
  float: right;
}

/*Block features*/

.features {
  background-color: rgba(38, 39, 50, 0.85);
  text-align: center;
  padding-top: 175px;
  padding-bottom: 176px;

  &__box {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
  }

  &__item:nth-child(3) {
    margin-right: 0px;
  }

  &__text {
    margin-top: 38px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    &_color-red {
      color: #38c695;
    }

    &_color-violet {
      color: #b27cf5;
    }

    &_color-orange {
      color: #feb960;
    }
  }
}

.icon-dollar {
  display: inline-block;
  color: #38c695;
  font-size: 40px;
}

.icon-time {
  display: inline-block;
  color: #b27cf5;
  font-size: 40px;
}

.icon-chek {
  display: inline-block;
  color: #feb960;
  font-size: 40px;
}
