// /* Navbar
// -------------------------------------------------------------------------------*/

.nav {
  width: 100%;
  max-width: 736px;

  &__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
  }

  &__links {
    display: flex;
    // justify-content: flex-end;
    justify-content: space-between;

    &-item {
      display: inline-block;
    }
  }

  &__link {
    cursor: pointer;
    color: #272727;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 27px;
    text-decoration: none;
    transition-property: color;
    transition: all 0.3s;
    
    &:hover {
      transition-duration: 0.2s;
      color: red;
    }
  }

  &_state_open {
    .nav__links {
      left: 0;
      display: block;
      padding: 60px 20px 0px 20px;
    }
  }
}

/* Media ---------------------------------------------------------------------
*/

@media (max-width: 991px) {
  .nav {
    width: 0px;

    &__icon {
      display: block;
      position: absolute;
      z-index: 31;
      left: 20px;
      top: 10px;
    }

    &__links {
      position: fixed;
      display: none;
      overflow: auto;
      height: 100%;
      z-index: 29;
      background-color: #fff;
      top: 0;
      bottom: 0;
      box-shadow: 0 0 36px rgba(#000, 0.1);

      &-item {
        display: block;
        padding: 10px 0;
        color: #333333;
      }
    }
  }

  .logo {
    margin: 0 auto;
  }
}
