/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 736px;
  padding-top: 5px;

  &__link {
    color: #272727;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 27px;
    text-decoration: none;
    transition-property: color;
  }

  &__link:hover {
    transition-duration: 0.2s;
    color: red;
  }

  &__mobile {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar {
    position: fixed;
    transition: all 0.3s;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    z-index: 29;
    background-color: #fff;

    &.open {
      left: 0;
      box-shadow: 0 0 36px rgba(#000, 0.1);
      display: block;
      padding: 80px 30px 20px;
    }

    display: none;

    &__item.mobile {
      position: relative;
      list-style: none;
      margin-right: 0;
      display: block;
    }

    &__link {
      display: inline-block;
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__mobile {
      display: block;
    }
  }

  .logo {
    margin: 0 auto;
  }
  
  .menu {
    display: block;
    position: absolute;
    z-index: 31;
    left: 10px;
  }
}

@media (max-width: 776px) {
  .navbar {
    width: 30%;
  }
}
@media (min-width: 320px) and (max-width: 776px) {
  .navbar {
    width: 100%;
  }
}

<<<<<<< HEAD
=======
@media (max-width: 320px) {
  .logo {
    margin: 0;
    float: right;
  }
}
>>>>>>> 2cf6d8428c50c992737ad1ea2f68d95163312441
