/* Block our-blog -----------------------------------------------------------------------------*/

.our-blog {
  padding-top: 147px;
  padding-bottom: 151px;
  background-color: #f7f7f7;
}

.our-blog__wrapper {
  display: flex;
  justify-content: space-between;
}

.blog-foto {
}

.post {
  max-width: 555px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 33px 51px 34px 38px;
  &__header {
    display: flex;
    max-width: 280px;
    &_foto {
      margin-top: -35px;
      margin-left: 51px;
    }
  }

  &__author {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 20px;
    &_red {
      color: #fc5f45;
    }
    &_green {
      color: #38c695;
    }
    &_violet {
      color: #b27cf5;
    }
    &_orange {
      color: #feb960;
    }
  }

  &__date {
    color: #616161;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    &_color-white {
      color: #ffffff;
      font-family: Poppins;
    }
  }

  &__title {
    color: #272727;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
  }

  &__text {
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
  }
}
