/* Block team
-------------------------------------------------------------------------------*/

.team-members {
  background-color: #f7f7f7;
  padding-top: 151px;
  padding-bottom: 149px;
}
.single-member {
  display: flex;
  cursor: pointer;

  &__title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 13px;
  }
  &__subtitle {
    color: #616161;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
  }
  &__item {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin-right: 30px;
    text-align: center;
    padding-bottom: 25px;

    &.schmitt {
      border-bottom: 3px solid #fc5f45;
      .single-member__title {
        color: #fc5f45;
      }
    }

    &.krammer {
      border-bottom: 3px solid #38c695;
      .single-member__title {
        color: #38c695;
      }
    }
    &.schroder {
      border-bottom: 3px solid #b27cf5;
      .single-member__title {
        color: #b27cf5;
      }
    }
    &.teichmann {
      border-bottom: 3px solid #feb960;
      margin-right: 0px;
      .single-member__title {
        color: #feb960;
      }
    }
  }
}

.member-details {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-top: 50px;
  padding: 75px 105px 76px 97px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border: 40px solid transparent;
    border-left-width: 30px;
    border-right-width: 30px;
    border-bottom-color: #ffffff;
    bottom: 100%;
    z-index: 100;
  }
  &__title {
    color: #272727;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 33px;
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__text {
    // border: 1px solid green;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    margin-right: 111px;
  }

  .icon-team-share {
    font-size: 36px;
    margin-right: 24px;
    border-right: 2px solid #efefef;
    color: #fc5f45;
    padding-right: 34px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__soc {
    // border: 1px solid red;
    a {
      display: block;
      color: #616161;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
      }
    }

    .icon-facebook {
      font-size: 15px;
      margin-bottom: 18px;
      margin-right: 6px;
    }

    .icon-twitter {
      font-size: 15px;
      margin-bottom: 17px;
      margin-right: 6px;
    }

    .icon-linkidin {
      font-size: 15px;
      margin-bottom: 19px;
      margin-right: 6px;
    }

    .icon-instagram {
      font-size: 15px;
      margin-right: 6px;
    }
  }
}

/*end team*/
