/* Block Testi-slider
-------------------------------------------------------------------------------*/

.testimonials{
  padding-top: 143px;
  padding-bottom: 152px;
  background: rgba(38, 39, 50, 0.85);
}
