/* Block Work
-------------------------------------------------------------------------------*/
.work {
  padding-top: 138px;
  padding-bottom: 150px;
}
.steps {
  // display: flex;
  position: relative;
  img{
    margin: 0 auto;
    position: relative;
  }
}

.steps__row {
  // display: flex;
  // float: left;
  padding: 41px 73px 82px 38px;
  max-width: 458px;
  height: 250px;
  position: absolute;
  background: #ffffff;
  z-index: 100;
  &:first-child{
    top: 0px;
  }
  &:last-child{
    bottom: 70px;
  }
  &_inverse{
    left: 60%;
    position: absolute;
    // top: 100px;
  }
}
.steps__number-wrapper {
  display: inline-block;
  .steps__number {
    color: #e0e0e0;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.steps__content {
  // display: block;

  .steps__title {
    color: #272727;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
  }
  .steps__text {
    display: inline-block;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
  }
}

.work__img_red {
}
