/* Block Work
-------------------------------------------------------------------------------*/
.work {
  padding-top: 138px;
  padding-bottom: 150px;
}
.steps {
  border: 1px solid red;

  display: grid;
  // display: flex;
  //   flex-direction: column;
  // grid-template-rows: 50px 250px 50px 250px 50px 250px 50px 250px 50px;
  // grid-template-columns: 292px 166px 224px 166px 292px;
  grid-template-rows: 3.5% 18.5% 3.6% 18.5% 3.6% 18.5% 3.6% 18.5% 3.6%;
  grid-template-columns: 25.6% 14.56% 19.65% 14.56% 25.6%;
}

.steps__item {
  max-width: 458px;
  padding: 41px 60px 46px 32px;
  display: flex;
  z-index: 10;
  background-color: #fff;

  &.project {    
    border-bottom: 3px solid #fc5f45;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    
  }
  &.research {
    border-bottom: 3px solid #38c695;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
  }
  &.wireframe {
    border-bottom: 3px solid #b27cf5;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &.development {
    border-bottom: 3px solid #feb960;
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 6;
  }
}
.steps__number-wrapper {
  display: inline-block;
  padding-right: 27px;
  padding-bottom: 43px;
}
.steps__number {
  color: #e0e0e0;
  font-family: "Libre Baskerville";
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
.steps__text {
  display: inline-block;
  color: #616161;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}

.work__img_red {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}
.work__img_green {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 5;
}
.work__img_violet {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 5;
}
.work__img_yellou {
  grid-row-start: 8;
  grid-row-end: 10;
  grid-column-start: 2;
  grid-column-end: 5;
}
