#about {
	padding-top: 149px;
	padding-bottom: 151px;

	.container_center {
		display: flex;
	}

	.about__img {
	}

	img {}

	.ubout__us {
		align-self: center;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
		background-color: #ffffff;
		margin-left: -65px;
		padding: 94px 83px 106px 81px;

		&_title {
			color: #313131;
			font-family: "Libre Baskerville";
			font-size: 50px;
			font-weight: 700;
			margin-bottom: 40px;
		}

		&_text {
			color: #616161;
			font-family: Poppins;
			font-size: 15px;
			font-weight: 400;
			word-break: normal;
		}

		width: 652px;
		height: 550px;
		border-bottom-style: solid;
		border-image-width: 15px;
		border-image: url(../../img/line.png);
		border-image-slice: 5;
	}

}
