/*Block portfolio*/
#portfolio {
	padding-top: 144px;
	padding-bottom: 149px;
	.container_center {
		.portfolio__list {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-column-gap: 21px;
			grid-row-gap: 23px;
			.portfolio__item {
				position: relative;
			}
			img:hover {
				opacity: 0;
				p {
				}
			}
			.block__hover{
				text-decoration: none;
				bottom: 0px;
				cursor: pointer;
				position: absolute;
				opacity: 0;
				text-align: center;
				transition-property: opacity;
				transition-duration: .4s;

				width: 100%;
				height: 100%;
				padding-top: 25%;
				.icon-plus{
					color: #ffffff;
					display: block;
					font-size: 50px;
					margin-bottom: 18%;
				}
				&_bottom{
					display: block;
					height: 42%;
					border-top-style: solid;
					border-image-width: 15px;
					border-image: url(../../img/line.png);
					border-image-slice: 5;
					background-color: #ffffff;
					color: #313131;
					font-family: Poppins;
					font-size: 18px;
					font-weight: 500;
					padding-top: 8%;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.4);
					transition-duration: .4s;
					opacity: 1;
				}
			}
		}
	}
}
/*end portfolio*/
