//Title & subtitle
.title {
    color: #313131;
	font-family: "Libre Baskerville";
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 39px;
	&_ubout_us{
		margin-bottom: 48px;
		text-align: left;
	}
	&_uorfocus{
		margin-bottom: 79px;
	}
}
.subtitle{
	color: #616161;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 80px;

	&_uorfocus{
		margin-bottom: 49px;
	}
}
